/**
  * start imports and reset
***/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{margin:0;padding:0;border:0;outline:0;list-style:none;text-decoration:none;box-sizing:border-box;font-family:'Roboto';}
/**
  * end imports and reset
  * start header
***/
.H_container {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 72px;
}
.H_image {
  width: 100px;
  margin-top: 4px;
  height: 35px;
}
.H_navigation {
  display: flex;
  align-items: center;
}
.H_links {
  display: flex;
}
.H_link_item {
  list-style: none;
}
.H_link_item_one {
  text-decoration: none;
  color: #050606;
}
.H_link_item_two {
  text-decoration: none;
  color: #050606;
  margin-left: 48px;
}
.H_buttons {
  display: flex;
}
.H_button_item {
  list-style: none;
}
.H_button_item_one {
  text-decoration: none;
  color: #050606;
  margin-left: 48px;
  margin-right: 40px;
}
.H_button_item_two {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background: #050606;
  border-radius: 6px;
  border: 2px solid #000;
  transition: 0.5s;
}
.H_button_item_two:hover {
  background: white;
  color: black;
}
.H_link_item_image {
  margin-left: 3px;
}
/**
  * end header
  * start mini-site
***/
.R_mini-site {
  margin-bottom: 96px;
  border: 5px solid #000;
}
.R_hdr {
  font-size: 54px;
  text-align: center;
  margin-bottom: 25px;
}
.R_sub-hdr {
  color: #00000080;
  font-size: 31px;
  text-align: center;
  margin-bottom: 90px;
  margin-left: 64px;
  margin-right: 64px;
}
/**
  * end mini-site
  * start but thats not all
***/
.B_container {
  background: #F0F2F4;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;
}
.B_container_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  margin-bottom: 83px;
}
.B_container_one_title {
  font-size: 52px;
  margin-bottom: 24px;
}
.B_container_one_subtitle {
  color: #05060680;
  font-size: 32px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.B_container_two {
  background: white;
  width: 950px;
  height: 450px;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 164px;
}
.B_container_two_block_one {
  padding-top: 47px;
  padding-left: 48px;
}
.B_container_two_block_one_title {
  font-size: 18px;
  margin-bottom: 4px;
}
.B_container_two_block_one_text {
  font-size: 16px;
}
.B_container_two_block_two {
  margin-top: 96px;
  margin-left: 48px;
}
.B_container_two_block_two_title {
  font-size: 18px;
  margin-bottom: 4px;
}
.B_container_two_block_two_text {
  font-size: 16px;
}
.B_container_two_block_three {
  margin-top: 96px;
  margin-left: 48px;
}
.B_container_two_block_three_title {
  font-size: 18px;
  margin-bottom: 4px;
}
.B_container_two_block_three_text {
  font-size: 16px;
}
.B_container_three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.B_container_three_title {
  font-size: 53px;
  margin-bottom: 32px;
}
.B_container_three_subtitle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 27px;
}
.B_container_three_button {
  font-size: 19px;
  text-decoration: none;
  color: white;
  background: black;
  padding: 16px 38px;
  border-radius: 8px;
}
/**
  * end but thats not all
  * start perks
***/
.P_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 172px;
}
.P_hdr {
  font-size: 57px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  text-align: center;
}
.P_sub-hdr {
  font-size: 31px;
  text-align: center;
}
.P_subscriptions {
  width: 100%;
  padding: 128px;
}
.P_sub {
  width: 100%;
  padding: 48px;
  border-radius: 16px;
}
.P_sub:not(:last-child) {
  margin-bottom: 40px;
}
.P_sub:first-child {
  background: #f8e9ff;
}
.P_label {
  font-size: 20px;
  margin-bottom: 9px;
}
.P_price {
  font-size: 48px;
  margin-bottom: 7px;
}
.P_uah {
  font-size: 24px;
}
.P_sub:not(:first-child) .P_uah {
  margin-right: -10px;
}
.P_decimal {
  font-size: 16px;
  margin-left: -0.75em;
}
.P_mo {
  font-size: 24px;
}
.P_desc {
  font-size: 19px;
  color: #130c1980;
  margin-bottom: 40px;
}
.P_perk {
  list-style-image: url(./img/check.svg);
  font-size: 16px;
}
.P_perk:not(:last-child) {
  margin-bottom: 16px;
}
.P_perk:last-child {
  margin-bottom: 36px;
}
.P_new-perk:after {
  margin-left: 6px;
  content: 'НОВИНКА';
  background: #130c1980;
  padding: 1px 4px 3px;
  border-radius: 4px;
  color: #f8e9ff;
}
#P_perk-button {
  height: 62px;
  background: #050606;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.P_perk-button {
  height: 62px;
  background: white;
  color: black;
  border: 2px solid #050606;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
/**
  * end perks
  * start footer
***/
.F_container {
    font-family: 'Roboto', sans-serif;
}
.F_container_block_one {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.F_container_block_one_title {
    margin-top: 172px;
    color: white;
    font-size: 54px;
}
.F_container_block_one_subtitle {
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 31px;
}
.F_container_block_one_buttons {
    color: white;
    margin-top: 50px;
    margin-bottom: 176px;
}
.F_container_block_one_button_one {
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding: 12px 34px;
    border-radius: 8px;
    background: white;
    border: 2px solid white;
    transition: 0.5s;
}
.F_container_block_one_button_one:hover  {
    color: white;
    background: black;
}
.F_container_block_one_button_two {
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin-left: 12px;
    padding: 12px 34px;
    border-radius: 8px;
    transition: 0.5s;
    border: 2px solid black;
}
.F_container_block_one_button_two:hover {
    border: 2px solid white;
}
.F_container_block_two {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}
.F_container_block_two_column_one_text {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.F_container_block_two_column_one_image_logos {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}
.fa-twitter {
    font-size: 16px;
}
.fa-facebook {
    margin-left: 20px;
    font-size: 16px;
}
.fa-youtube {
    margin-left: 20px;
    font-size: 16px;
}
.F_container_block_two_column_two_image_logos {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}
.F_container_block_two_column_two_title_one {
    font-size: 18px;
}
.F_container_block_two_column_two_text {
    font-size: 13px;
    margin-top: 20px;
}
.F_container_block_two_column_two_title_two {
    margin-top: 48px;
}
.F_container_block_two_column_three_title_two {
    margin-top: 88px;
}
.F_container_block_two_column_three_title_one {
    font-size: 18px;
}
.F_container_block_two_column_three_text {
    font-size: 13px;
    margin-top: 20px;
}
.F_container_block_two_column_four_title {
    font-size: 18px;
}
.F_container_block_two_column_four_text {
    font-size: 13px;
    margin-top: 20px;
}
/**
  * end footer